 .departmentManagement {
  height: 100%;
  
  .leftPanel {
    height: 100%;
    
    .treeContainer {
      min-height: 400px;
      max-height: calc(100vh - 300px);
      overflow: auto;
    }
  }
  
  .rightPanel {
    height: 100%;
  }
} 