<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.central.soo.mapper.ChartSimulationMapper">

    <!-- 删除指定图表的所有模拟结果 -->
    <delete id="deleteByChartId">
        DELETE FROM soo_chart_simulation WHERE chart_id = #{chartId}
    </delete>

</mapper> 